.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0;
  height: 150px;
}

.searchForm .input_search-container {
  position: relative;
  width: 290px;
  height: 30px;
  display: flex;
  align-items: center;
}

.searchForm .input_search-container .search__icon {
  position: absolute;
  font-size: 1.8rem;
  pointer-events: none;
  left: 10px;
  color: var(--color-gray);
}

.input_search-container input {
  padding-left: 40px;
}

.input_search-container input:focus {
  border: none;
  outline: none;
}

.search__results {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .searchForm {
    flex-direction: row;
    min-width: 500px;
    justify-content: flex-start;
    align-items: center;
  }

  .searchForm .input_search-container {
    width: 400px;
    margin-right: 30px;
  }

  .input_search-container input {
    height: 50px;
  }
}
